.contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .contact-us-image {
    margin-right: 20px;
  }
  
  .contact-us-form {
    flex: 1;
  }
  
  .contact-us-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-us-form p {
    margin-bottom: 20px;
  }
  
  .contact-us-form form input,
  .contact-us-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .contact-us-form form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .contact-us-container {
      flex-direction: column;
    }
    
    .contact-us-image {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  